# API dependencies
fastapi>=0.95.2
uvicorn>=0.18.3
python-dotenv>=1.0

# CAG system dependencies
crewai>=0.140.0
crewai-tools>=1.4.1
crewai-tools[sqlalchemy]>=1.4.1
chromadb>=0.5.23
langchain_openai>=0.1.21
markdown==3.5.2
beautifulsoup4>=4.12.3,<5.0.0
psycopg2-binary>=2.9.9